body {
  background-color: rgba(17, 21, 23, 1);
}

p {
    color: #ffa500;
}

h1 {
  color: yellow;
}

.maincontentdiv {
  margin: auto;
  width: 75%;
  background-color: rgba(255, 166, 0, 0.1);
  padding: 10%;
  border-radius: 25px;
}
